/* TABLET */

@media(max-width:900px){


.navbar{

padding:0 20px;

}


nav{

position:absolute;

top:80px;

left:0;

width:100%;

background:#ffffff;

display:none;

flex-direction:column;

padding:25px;

gap:20px;

box-shadow:
0 15px 30px rgba(0,0,0,.12);

z-index:999;

}



nav a{

color:#0f172a;

font-weight:600;

}


nav.active{

display:flex;

}



.menu{

display:block;

}



.hero{

height:550px;

padding:30px 20px;

}



.hero h1{

font-size:38px;

}



.trust-grid{

grid-template-columns:repeat(2,1fr);

}



}






/* MOBILE */


@media(max-width:600px){



.announcement{

gap:15px;

padding:10px;

font-size:12px;

overflow:hidden;

}



.announcement svg{

width:15px;

height:15px;

}




.logo img{

height:45px;

}




.hero{

height:600px;

align-items:center;

}



.hero h1{

font-size:32px;

}



.hero p{

font-size:16px;

}



.hero-buttons{

flex-direction:column;

}



.hero-buttons a{

text-align:center;

width:100%;

}



.trust{

padding:50px 20px;

}



.trust h2{

font-size:26px;

}



.trust-grid{

grid-template-columns:1fr;

}



.trust-card{

padding:30px 20px;

}



}
@media(max-width:900px){


.products-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.featured-products{

padding:50px 20px;

}



.section-header h2{

font-size:26px;

}



.products-grid{

grid-template-columns:1fr;

}



.product-image{

height:260px;

}


}

@media(max-width:900px){


.lab-container{

grid-template-columns:1fr;

gap:35px;

}



.lab-image img{

height:350px;

}



.lab-content h2{

font-size:30px;

}


}



@media(max-width:600px){


.lab-section{

padding:60px 20px;

}



.lab-image img{

height:280px;

}


}
@media(max-width:600px){

.collection-section{

padding:50px 20px;

}

}
@media(max-width:900px){


.why-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.why-section{

padding:60px 20px;

}



.why-grid{

grid-template-columns:1fr;

}



}

@media(max-width:900px){


.reviews-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.reviews-section{

padding:60px 20px;

}



.reviews-grid{

grid-template-columns:1fr;

}


}
@media(max-width:900px){


.experience-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.experience-section{

padding:60px 20px;

}



.experience-grid{

grid-template-columns:1fr;

}



.experience-card img{

height:280px;

}


}
@media(max-width:600px){

.cta{

padding:80px 20px;

}



.cta h2{

font-size:34px;

}



.cta p{

font-size:16px;

}



.cta-buttons{

flex-direction:column;

}



.btn-primary,
.btn-secondary{

width:100%;

text-align:center;

}

}